aiohttp==3.8.4
aioredis==2.0.1
aiosignal==1.3.1
anyio==3.6.2
APScheduler==3.6.3
argcomplete==2.0.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
cachetools==4.2.2
certifi==2022.12.7
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==2.1.1
chatbotAI==0.3.1.3
click==7.1.2
colorama==0.4.6
distlib==0.3.6
Django==4.1.7
django-admin-interface==0.25.0
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap4==23.1
django-chatbot==0.0.2.3
django-ckeditor==6.5.1
django-colorfield==0.8.0
django-crispy-forms==2.0
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-midtrans==0.0.1a0
django-paypal==2.0
django-shortuuidfield==0.1.3
django-taggit==4.0.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
doku==0.1.8
filelock==3.8.2
Flask==1.1.4
flask-midtrans==0.0.1a0
frozenlist==1.3.3
future==0.18.3
h11==0.14.0
httpcore==0.17.0
httpx==0.24.0
idna==3.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.2.0
MarkupSafe==2.1.1
midtransclient==1.2.0
msgpack==1.0.5
multidict==6.0.4
mysqlclient==2.1.1
numpy==1.24.3
openai==0.27.6
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
packaging==22.0
pandas==2.0.2
paypal==1.2.5
Pillow==9.3.0
pipenv==2022.11.30
pipx==1.1.0
platformdirs==2.6.0
playfab==0.0.201014
pony==0.7.16
pydantic==1.10.7
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==8.0.1
python-telegram-bot==20.3
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
redis==4.5.5
regex==2023.5.5
render==1.0.0
requests==2.28.1
scikit-learn==1.2.2
scipy==1.10.1
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
sqlparse==0.4.3
store==2020.2.10
stripe==5.2.0
sudo==1.0.0
text-unidecode==1.3
threadpoolctl==3.1.0
tornado==6.1
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2022.4
tzlocal==4.2
urllib3==1.26.12
userpath==1.8.0
uuid==1.30
virtualenv==20.17.1
virtualenv-clone==0.5.7
Werkzeug==1.0.1
yarl==1.9.2
